*{
    margin: 3px;
    padding: 0;
    box-sizing: border-box;
 }
#Page1{
    background-image: url("bg2.jpg");
    width:100%;
    height:600px;
}
#Page2{
    overflow: hidden;
    /* display: inline-block; */
    background-color: white;
    width: 100%;
    padding: 15px;
    height: auto;
}
#Page2 h2{
    text-align: center;
    border-bottom: 2px solid black;
}
#Page2 p{
    text-align: center;
}
.Page2{
    float: left;
    width: 40%;
}
.Page2 img{
    border-radius: 25px;
    height: 300px;
}
.page2{
    width: 55%;
    float:right;
}
.paGe2{
    padding: 20px;
    clear: both;
}
@media(max-width:500px){
    .Page2{
        width: 100%;
    }
    .page2{
        width:100%;
    }
}

#Page3{
    /* display: inline-block; */
    background-color: rgb(248, 237, 215);
    width: 100%;
    height: auto;
    padding: 10px;
}
#Page3 h2{
    text-align: center;
    border-bottom: 2px solid black;
}
.project a{
    background-color: rgb(183, 183, 231);
    text-decoration: none;
    padding: 20px;
    border-radius: 7px;
    color: wheat;
}
:hover.project a{
    font-size: 30px;
    color: black;
    background-color: white;
}

#Page4{
    background-color: rgb(63, 62, 62);
    color: white;
    padding: 20px;
    overflow: hidden;
}
#Page4 a{
    text-decoration: none;
    color:white;
}
#contact{
    width: 40%;
    float:left;
}
#form{
    width:40%;
    float:right;
}
#contact a{
    font-size:large;
    padding: 10px;
}
#Page4 span{
    border-bottom: 2px solid red;
}